[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy="*"
pylint="*"
pytest="*"
setuptools = "==65.5.0"

[dev-packages]
pytest="*"

[requires]
python_version = "3.11"
